header {
    height: 500px;
    border: 1px solid lightblue;
    background-color: lightblue;
}

.centered {
    max-width: 1000px;
    margin: auto;
}



/* HEADER EDIT */
nav {
    width: 100%;
    height: 70px;
    background-color: lightgreen;
}

nav #nav-inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
}



nav #logo {
    width: 130px;
    background-color: darkgreen;
}

#nav-inner #links {
    background-color: darkgreen;
    display: flex;
    flex-direction: row;
}

#links ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row nowrap;
    padding-left: 0;
    gap: 30px;
}

#links ul li {
    width: 60px;
    height: 30px;
    background-color: lightyellow;
    list-style-type: none;
    border: 1px solid orange;
}

nav #access-form {
    width: 90px;
    background-color: darkgreen;
} 

.introduction {
    width: 100%;
    background-color: lightyellow;
    margin-top: 100px;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    padding-bottom: 0;
}

.download-buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    
}
.badge {
    height: 50px;
    width: 200px;
    background-color: blue;
    margin: 5px 10px;
    border-radius: 30px;
}
/* /END HEADER */




/* MAIN */

main #one {
    height: 500px;
    border: 1px solid black;
    background-color: rgb(235, 218, 124);
}

main #two {
    height: 500px;
    border: 1px solid black;
    background-color: rgb(238, 174, 122);
}

main #three {
    height: 500px;
    border: 1px solid black;
    background-color: rgb(245, 101, 101);
}

main #four {
    height: 500px;
    border: 1px solid black;
    background-color: rgb(248, 64, 64);
}


main section {
    display: flex;
}

.container-one {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
#picture {
    height: 400px;
    width: 550px;
    background-color: white;
}

#text-picture {
    height: 400px;
    width: 400px;
    background-color: white;
}
